<div class="flex flex-col items-center justify-center py-4 px-6">
  <h1 class="text-xl font-bold my-4 text-center">Incentive Distribution Simulation</h1>

  <div class="w-full max-w-md">
    <div class="w-full bg-white shadow-md rounded-lg p-4">
      <form class="flex flex-col space-y-4">

        <div class="flex flex-row gap-2"> 
          <input 
          [(ngModel)]="buyerMembershipId"
          type="text"
          name="buyerMembershipId"
          placeholder="Buyer Membership ID"
          class="border border-gray-300 rounded-lg p-2 w-full"
        />
  
        <input 
          [(ngModel)]="totalAmount"
          type="number"
          name="totalAmount"
          placeholder="Total Amount"
          class="border border-gray-300 rounded-lg p-2 w-full"
        />
        </div>


        <select 
          [(ngModel)]="selectedMode"
          name="mode"
          class="border border-gray-300 rounded-lg p-2 w-full"
        >
          <option value="" disabled selected>Select Mode</option>
          <option value="TOPUP">TOPUP</option>
          <option value="NONE">NONE</option>
        </select>

        <input 
          #fileInput
          type="file" 
          (change)="onFileSelected($event)" 
          accept=".xlsx, .xls" 
          class="border border-gray-300 rounded-lg p-2 w-full" 
          required
        />
    
        <div class="flex flex-row gap-2"> 
          <button 
            type="button"
            (click)="uploadFile()"
            class="w-full bg-blue-500 text-white font-medium py-2 rounded-lg hover:bg-blue-600 transition">
            Upload File
          </button>
          <button 
            type="button"
            (click)="exportExample()"
            class="w-full bg-purple-500 text-white font-medium py-2 rounded-lg hover:bg-purple-600 transition">
            Download Example
          </button>
        </div>

      </form>
    </div>

    <div *ngIf="emptyBoolean === true"
        class="py-2 text-red-500"> {{ emptyError }} </div>
  </div>

  <div class="w-full flex justify-center">
    <div class="w-full mt-8" *ngIf="tableData?.length || responseData?.length">
      <h2 class="text-lg font-semibold mb-4">Results</h2>
      <table class="w-full border border-gray-300 rounded-lg text-left">
        <thead class="bg-gray-200">
          <tr>
            <!-- <th *ngFor="let header of tableHeaders" class="p-2 border border-gray-300">{{ header }}</th> -->
            <th *ngFor="let header of responseHeader" class="p-2 border border-gray-300">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let row of tableData">
            <td *ngFor="let cell of row" class="p-2 border border-gray-300">{{ cell }}</td>
          </tr> -->
          <tr *ngFor="let row of responseData">
            <td class="p-2 border border-gray-300">{{ row.memberId }}</td>
            <td class="p-2 border border-gray-300">{{ row.level ?? 'NULL' }}</td>
            <td class="p-2 border border-gray-300">{{ row.rankCode }}</td>
            <td class="p-2 border border-gray-300">{{ row.state ? row.state : 'NULL' }}</td>
            <td class="p-2 border border-gray-300">{{ row.totalIncentive }}</td>
            <td class="p-2 border border-gray-300">{{ row.remarks }}</td>
          </tr>
        </tbody>
      </table>
      
      <div class="flex justify-end py-2">
        <button 
          type="button"
            (click)="clearData(fileInput)"
            class="bg-red-500 text-white font-medium py-2 px-4 rounded-lg hover:bg-red-600 transition">
            Clear
        </button>
      </div>
  </div>
</div>
