<div class="flex flex-col items-center justify-center py-4 px-6">
  <h1 class="text-xl font-bold my-4 text-center">Incentive Distribution Simulation</h1>

  <div class="w-full max-w-md">
    <div class="w-full bg-white shadow-md rounded-lg p-4">
      <form class="flex flex-col space-y-4">

        <div class="flex flex-row gap-2"> 
          <input 
          [(ngModel)]="buyerMembershipId"
          type="text"
          name="buyerMembershipId"
          placeholder="Buyer Membership ID"
          class="border border-gray-300 rounded-lg p-2 w-full"
        />
  
        <input 
          [(ngModel)]="totalAmount"
          type="number"
          name="totalAmount"
          placeholder="Total Amount (RM)"
          class="border border-gray-300 rounded-lg p-2 w-full"
        />
        </div>


        <select 
          [(ngModel)]="selectedMode"
          name="mode"
          class="border border-gray-300 rounded-lg p-2 w-full"
          (change)="onModeChange($event, fileInput)"
        >
          <option value="" disabled selected>Select Mode</option>
          <option value="BEFORE_CUTOFF">INCENTIVE CALCULATION - BEFORE CUT OFF</option>
          <option value="AFTER_CUTOFF">INCENTIVE CALCULATION - CUT OFF</option>
          <option value="UPGRADE">UPGRADE TIER</option>
         
        </select>
        
        <div *ngIf="selectedMode && modeMessage !== ''"
          class="text-rose-400">
          <span class="font-semibold"> Note: </span>
          <span> {{ modeMessage }} </span>
        </div>

        <input 
          #fileInput
          type="file" 
          (change)="onFileSelected($event)" 
          accept=".xlsx, .xls" 
          class="border border-gray-300 rounded-lg p-2 w-full" 
          required
        />
    
        <div class="flex flex-row gap-2"> 
          <button 
            type="button"
            (click)="uploadFile()"
            class="w-full bg-blue-500 text-white font-medium py-2 rounded-lg hover:bg-blue-600 transition">
            Upload File
          </button>
          <button 
            type="button"
            (click)="exportExample()"
            class="w-full bg-purple-500 text-white font-medium py-2 rounded-lg hover:bg-purple-600 transition">
            Download Example
          </button>
        </div>

      </form>
    </div>

    <div *ngIf="emptyBoolean === true"
        class="py-2 text-red-500"> {{ emptyError }} </div>
  </div>

  <div class="w-full flex justify-center">
    <div class="w-full mt-8" *ngIf="responseData?.length || dailyResponseData?.length">
      <h2 class="text-lg font-semibold mb-4">Results</h2>

      <div class="py-3">
        <table class="w-full border border-gray-300 rounded-lg text-left">
          <thead class="bg-gray-200">
            <ng-container *ngIf="selectedMode !== 'UPGRADE'; else upgradeHeaders">
              <tr>
                <th *ngFor="let header of responseHeader" class="p-2 border border-gray-300">{{ header }}</th>
              </tr>
            </ng-container>
            <ng-template #upgradeHeaders>
              <tr>
                <th *ngFor="let header of upgradeHeader" class="p-2 border border-gray-300">{{ header }}</th>
              </tr>
            </ng-template>
          </thead>

          <tbody *ngIf="selectedMode !== 'UPGRADE'">
            <ng-container *ngFor="let dailyResponse of dailyResponseData">
              <tr class="bg-slate-100">
                <td class="border border-gray-300 px-4 py-2" [attr.colspan]="responseHeader.length"> 
                  <span class="font-semibold"> Date: </span>
                  <span> {{ dailyResponse.date }} </span>
                  <span class="italic">
                    {{ " (Incentives: RM " + (dailyResponse.dailyIncentive | number: '1.2-2') + ", Percentage: " + (dailyResponse.dailyPercentage | number: '1.2-2') + "% )"}}
                  </span>
                </td>
              </tr>
              <tr *ngFor="let row of dailyResponse.incentives" class="hover:bg-gray-50">
                <td class="p-2 border border-gray-300">{{ row.memberId }}</td>
                <td class="p-2 border border-gray-300">{{ row.level ?? 'NULL' }}</td>
                <td class="p-2 border border-gray-300">{{ row.rankCode }}</td>
                <td class="p-2 border border-gray-300">{{ row.state || 'NULL' }}</td>
                <td class="p-2 border border-gray-300">{{ row.percentage | number: '1.2-2' }} %</td>
                <td class="p-2 border border-gray-300">RM {{ row.totalIncentive | number: '1.2-2' }}</td>
                <td class="p-2 border border-gray-300">{{ row.remarks }}</td>
              </tr>
            </ng-container>
          </tbody>
      
          <tbody *ngIf="selectedMode === 'UPGRADE'">
            <tr *ngFor="let row of responseData" class="hover:bg-gray-50">
              <td class="p-2 border border-gray-300">{{ row.memberId }}</td>
              <td class="p-2 border border-gray-300">{{ row.rankCode }}</td>
              <td class="p-2 border border-gray-300">{{ row.upgradedCode || 'NULL' }}</td>
              <td class="p-2 border border-gray-300">{{ row.state || 'NULL' }}</td>
              <td class="p-2 border border-gray-300">RM {{ row.totalIncentive | number: '1.2-2' }}</td>
              <td class="p-2 border border-gray-300">{{ row.remarks }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      

      <div class="flex flex-row py-2 justify-between" *ngIf="selectedMode !== 'UPGRADE'">
        <div class="flex flex-row py-2 gap-2">
          <div class="text-xl" > 
            <span class="font-bold"> Total Percentage: </span> {{ totalPercentage | number: '1.2-2'}}% 
          </div>
          <div class="text-xl"> <span class="font-bold"> Total Incentive: </span> RM {{ totalIncentive | number: '1.2-2'}} </div>
        </div>
        <div class="flex justify-end py-2 gap-2">
          <button 
            type="button"
              (click)="clearData(fileInput)"
              class="bg-red-500 text-white font-medium py-2 px-4 rounded-lg hover:bg-red-600 transition">
              Clear
          </button>
        </div>
      </div>

      <div class="flex flex-row py-2 justify-end" *ngIf="selectedMode === 'UPGRADE'">
          <button 
            type="button"
              (click)="clearData(fileInput)"
              class="bg-red-500 text-white font-medium py-2 px-4 rounded-lg hover:bg-red-600 transition">
              Clear
          </button>
      </div>
      
  </div>
</div>
